body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
}

p {
  font-size: 18px;
  color: #f5efef;
  font-style: italic;
  background-color: #121415;
  padding: 15px;
  border-left: 5px solid #ffffff;
  border-radius: 6px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 25px;
}

footer {
  background-color: #110808;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
